  <div>
      <h1>i am a map</h1>
      <div id="map"></div>
      <!-- Replace the value of the key parameter with your own API key. -->
      <script type="text/javascript" src="/scripts/map.js"></script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZImsQ1Qw68YIf_tHVOoMhs5wz5-F4JHA&callback=initMap">
      </script>
  </div>

