<!DOCTYPE html>
<html lang="en">

<head>
  <title>Homepage</title>
  <!-- CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" />
  <!-- SEMANTIC UI -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" />

  <!-- JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script type="text/javascript" src="/routes/logins.js"></script> -->

  <!-- change type from "text/jsvascript" to "module" client code helpers function module-->

  <script type="module" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/rendermaps.js"></script>
</head>

<body id="homepage">
  <header>
    <nav>
      <div class="search">
        <form action="/search" method="POST" class="form-inline md-form form-sm active-cyan-2 mt-2">
          <div class="ui input">
            <input id="searchtext" type="text" name="searchtext" placeholder="Search..." />
          </div>
          <i class="fas fa-search-location"></i>
          <button id="searchbutton" class="ui basic button">Search</button>
        </form>
      </div>
      <%if(!user) {%>
      <div id="buttons ">
        <button class="ui basic button login">Login</button>
        <button class="ui basic button signup">Sign up</button>
        <%} else {%>
        <form action="/logout" method="POST">
          <div id="logout">Welcome Back <%=name%>
            <div>
              <a href="/newmap" class="ui basic">Create</a>
            </div>
            <button class="ui basic button ">Logout</button>

          </div>
        </form>
        <%}%>
      </div>

    </nav>
  </header>
  <main>
    <%if(error) {%>
        <div class="ui error message">
          <i class="close icon"></i>
          <div class="header">
            There were some errors with your email or password
          </div>
          <ul class="list">
            <li>Please check your email or password again</li>
          </ul>
        </div>
        <%}%>
    <div id="login-form" class="mainform">
      <form class="ui form" action="/login" method="POST">
        <div class="field">
          <label>Email</label>
          <input type="text" name="email" placeholder="Email" />
        </div>
        <div class="field">
          <label>Password</label>
          <input type="text" name="password" placeholder="Password" />
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden" />
            <label>I agree to the Terms and Conditions</label>
          </div>
        </div>
        <button class="ui basic button" type="submit">Submit</button>
      </form>
    </div>

    <div id="singup">
      <form class="ui form" action='/registration' method="POST">
        <div class="field">
          <label>Email</label>
          <input type="text" name="email" placeholder="First Name" />
        </div>
        <div class="field">
          <label>password</label>
          <input type="text" name="password" placeholder="Last Name" />
        </div>

        <button class="ui button" type="submit">Submit</button>

      </form>
    </div>
  </main>
  <div>I am fovorites
<div class=favorites>

</div>
</div>
<div>I am normal maps
      <div  class="mapsContainer">
        </div>
      </div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>
