<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
    />
    <!-- SEMANTIC UI -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
    />

    <!-- JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- change type from "text/jsvascript" to "module" client code helpers function module-->

    <script type="module" src="/scripts/app.js"></script>
  </head>

  <body id="user">
    <header>
      <nav>
        <div class="search">
          <div class="ui input">
            <input type="text" placeholder="Search..." />
          </div>
          <i class="fas fa-search-location"></i>
        </div>

        <div id="buttons">
          <button class="ui basic button">Logout</button>
        </div>
      </nav>
      <main>
        <div id="personal-page">
          <h1>personal page</h1>
          <div class="loginpage">
            <div id="left">
              <div class="ui link list">
                <a class="item" href="map">Map</a>
                <a class="item" href="collections">Collection</a>
              </div>
            </div>

            <div id="right">
              <section id="map"></section>
            </div>
          </div>
        </div>
      </main>
    </header>
  </body>
</html>
