// See: https://sass-lang.com/

body {
  background-color: #eee;

  h1 {
    color: #244751;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: 2em;
  }
.mapCollection {
  display: flex;
  flex-direction: column;
  width:30%;
  height: 600px;
  float: left;
}
.mapCollection:hover {
cursor: grab;
}
  #map {
    height: 600px;
    width: 60%;
    float: right;
    margin-right: auto;

    #search-input {
      width: 90%;
      height: 10%;
    }

    #searchPlace {
      z-index: 100;
      position: fixed;
      left:0;
      top:0;
    }
  }

  .fa-search-location {
    margin-left: 1em;
  }

  #login-form {
    margin: 5em;
    display: none;
  }

  nav .search {
    margin-left: 3em;
  }

  nav #buttons {
    margin-right: 3em;
  }
}

#user {
  .loginpage {
    display: flex;
    justify-content: space-between;
    margin: 3em;
    #left {
      width: 30%;

      height: 600px;
    }
    #right {
      width: 65%;

      height: 600px;
    }
  }
  #personal-page {
    // background-color: red;
    h1 {
      margin: 2em 0 0 2em;
    }
    #left {
      margin: 3em 0 0 3em;
    }
  }
}
