// See: https://sass-lang.com/

body {
  background-color: lightgray;

  h1 {
    color: #244751;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: 2em;
  }
  .form-check {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .form-check-input {
      position: relative;
    }
  }
  .mapCollection {
    display: flex;
    flex-direction: column;
    background-color: bisque;

    height: 1200px;
    float: left;
    .mapCollection > p {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-weight: bold;
      width: 100%;
    }
    #favoritemap {
      display: none;
      height: 25%;
    }
    #foodymap {
      display: none;
      height: 25%;
    }
    #campingmap {
      display: none;
      height: 25%;
    }
    #weddingmap {
      display: none;
      height: 25%;
    }
  }
  .mapCollection > img:hover {
    cursor: grab;
  }
}
.mapCollection > img:hover {
  cursor: grab;
}
// #newmap {
//   height: 600px;
//   width: 70%;
//   margin: 2%;

//   #search-input {
//     width: 90%;
//     height: 10%;
//   }

//   #searchPlace {
//     z-index: 100;
//     position: fixed;
//     left:0;
//     top:0;
//   }
// }
#map {
  height: 600px;
  width: 96%;
  margin: 2%;

  .searchPlace {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  #search-input {
    width: 50%;
    height: 5%;
  }

  .searchPlace {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  #search-input {
    width: 50%;
    height: 5%;
  }

  #searchPlace {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
  }
}

.fa-search-location {
  margin-left: 1em;
}

// #login-form {
//   margin: 5em;
//   display: none;
// }
// #singup {
//   margin: 5em;
//   display: none;
// }
nav .search {
  margin-left: 3em;
}

nav #buttons {
  margin-right: 3em;
}

#user {
  .loginpage {
    display: flex;
    justify-content: space-between;
    margin: 3em;
    #left {
      width: 30%;

      height: 600px;
    }
    #right {
      width: 65%;

      height: 600px;
    }
  }
  #personal-page {
    // background-color: red;
    h1 {
      margin: 2em 0 0 2em;
    }
    #left {
      margin: 3em 0 0 3em;
    }
  }
}

#homepage {
  #login-form {
    margin: 3em;
    display: none;
  }
  #singup {
    margin: 3em;
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin: 6em;
  }

  #map-collections {
    // margin: 2em;
    .line1 {
      display: flex;
      justify-content: space-around;
      margin: 2em;
    }

    .line2 {
      display: flex;
      justify-content: space-around;
      margin: 2em;
    }

    .line3 {
      display: flex;
      justify-content: space-around;
      margin: 2em;
    }

    .line4 {
      display: flex;
      justify-content: space-around;
      margin: 2em;
    }
  }
}
.ui.error.message {
  width: 80%;
  margin: 0 auto;
}
/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
}

/* ----- v CAN BE DELETED v ----- */

.demo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-demo {
  text-align: center;
  margin: 0 auto;

  border-radius: 0;
  font-size: 16px;
  color: #eee;
  background-color: rgb(17, 16, 16);
}

.btn-demo:focus {
  outline: 0;
}

.mapsContainer {
  margin: 2%;
}
.rowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap :wrap;
  width: 100%;
padding-top: 1em
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 5px;
  flex: 1;

}
.anchormap{
  border: 2px lightgrey solid;
}
#mapdescription {
  font-size: 32px;
}
#mapdescription {
  font-size: 32px;
}

.favorites{
  max-width: 1000px;
  position: relative;
  margin: auto;

  .favSlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
}
