// See: https://sass-lang.com/

body {
  background-color: #eee;

  h1 {
    color: #244751;
  }
  #map {
    height: 600px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;

    #search-input {
      width: 30%;
      height: 10%;
    }
  }
}
